body, html
    {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    }

a:link{
    color: gray;
    text-decoration:underline;
} 
a:visited{
    color: darkgoldenrod;
    text-decoration: underline;
}
a:hover{
    color: tan;
    text-decoration: underline;
    background-color: purple;
}
a:hover{
    color:white;
    text-decoration: underline;
    background-color: black;
    box-shadow: 0 0 0 0 rgb(124, 41, 41);
    transform: scale(1);
	animation: pulse 1s 3;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
a:active{
    color:gray;
    text-decoration: underline;
}
h1{
    font-size: xx-large;
    text-shadow:2px 2px 2px white;
    color: black;
    width: 100%;
    background-color: rgba(184, 135, 11, 0.658);
    padding-left:30%;
    box-shadow: 0 0 0 0 rgb(124, 41, 41);
    transform: scale(1);
	animation: pulse 1s 3;
}
@keyframes pulse {
		0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
	}
h2{
    color: black;
    font-size: x-large;
    text-shadow:2px 2px 2px white;
    width: fit-content;
    background-color: rgba(184, 135, 11, 0.658);
    padding-left: 10px;
    padding-right: 10px;
}
h3{
    color: black;
    font-size: large;
    text-shadow:2px 2px 2px white;
    width:max-content;
    background-color: rgba(209, 140, 49, 0.603);
    padding-left: 10px;
    padding-right: 10px;
    animation-duration: 3s;
    animation-name: slidein;
    font-weight: 900;
}
@keyframes slidein {
    from {
        margin-left:200%;
        width: 300%;
        }
    }
.parallax
    {
    background-image: url("../media/background3.jpeg");
	height: 100%;
    width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    }