body, html
    {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    }

a:link{
    color: gray;
    text-decoration:underline;
} 
a:visited{
    color: darkgoldenrod;
    text-decoration: underline;
}
a:hover{
    color: tan;
    text-decoration: underline;
    background-color: purple;
}
a:hover{
    color:white;
    text-decoration: underline;
    background-color: black;
    box-shadow: 0 0 0 0 rgb(124, 41, 41);
    transform: scale(1);
	animation: pulse 1s 3;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
a:active{
    color:gray;
    text-decoration: underline;
}
h1{
    font-size: xx-large;
    text-shadow:2px 2px 2px white;
    color: black;
    width: 100%;
    background-color: rgba(184, 135, 11, 0.658);
    padding-left:30%;
    box-shadow: 0 0 0 0 rgb(124, 41, 41);
    transform: scale(1);
	animation: pulse 1s 3;
}
@keyframes pulse {
		0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
	}
h2{
    color: black;
    font-size: x-large;
    text-shadow:2px 2px 2px white;
    
    background-color: rgba(184, 135, 11, 0.658);
    padding-left: 10px;
    padding-right: 10px;
    animation-duration: 3s;
    animation-name: slidein;
}
h3{
    color: black;
    font-size: large;
    text-shadow:2px 2px 2px white;
    width:max-content;
    background-color: rgba(209, 140, 49, 0.603);
    padding-left: 10px;
    padding-right: 10px;
  
    font-weight: 900;
}
@keyframes slidein {
    from {
        margin-left:-200;
        }
        to{
        margin-left:100px;
        }
    
    }
.parallax
    {
    background-image: url("../media/background3.jpeg");
	height: 100%;
    width: 100%;
	background-attachment:fixed;
	background-position: center;
	background-repeat: repeat;
	background-size:contain;
    }
    nav{
        margin: auto;
        text-align: center;
        background: linear-gradient(0deg, white, rgb(196, 188, 120), white); 
        box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
        padding: 0 20px;
        border-radius: 10px;  
        list-style: none;
        position: relative;
        color:black;
        font-weight:900;
        width:100%;
     
    }
    nav ul {
        background: linear-gradient(0deg, white, rgb(196, 188, 120), white); 
        box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
        padding: 0 20px;
        border-radius: 10px;  
        list-style: none;
        position: relative;
        color:black;
        font-weight:900;
        width:100%;
        display:inline-table;
    }
    nav ul li {
        display:inline-table;
    }
    nav ul li a {
        display: block; 
        padding: 25px 40px;
        color:#808080; 
        text-decoration: none;
    }
    nav ul li:hover {
        background: linear-gradient(180deg, white, #ffb878, peachpuff); 
    }
    nav ul li:hover a {
        color:#757575;
    }
    nav ul li:hover > ul {
        display:flex;
        flex-direction:column;
        width:30%;
    }
        
    nav ul ul {
        display: none;
        background: linear-gradient(180deg, white,  peachpuff); 
        border-radius: 0px; 
        padding: 0;
        position: absolute; 
        z-index:10;
    }
    nav ul ul li {
        display:block; 
        border-top: 1px solid #757575;
        border-bottom: 1px solid #757575; 
        position: relative;
    }
    nav ul ul li a {
        padding: 15px 40px;
        color: #757575;
    }	
    nav ul ul li a:hover {
        background: peachpuff;
        color:orange;
    }
    .icon-bar {
        width: 100%; /* Full-width */
        background-color: rgb(209, 189, 99);
        overflow: auto; /* Overflow due to float */
    }
    
    .icon-bar a {
        float: left; /* Float links side by side */
        text-align: center; /* Center-align text */
        width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
        padding: 12px 0; /* Some top and bottom padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 36px; /* Increased font size */
    }
    
    .icon-bar a:hover {
        background-color: #000; /* Add a hover color */
    }
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    